pandas==1.5.2
prefect==2.16.5
pydantic==1.10.0 # Added a pinned version of pydantic, since upgraded version gives an issue with prefect older version
prefect-sqlalchemy==0.2.2
prefect-gcp[cloud_storage]==0.2.4
protobuf==4.21.11
pyarrow==14.0.1
pandas-gbq==0.18.1
psycopg2-binary==2.9.5
sqlalchemy==1.4.46